.new-expense {
  background-color: #6bffeb;
  padding: 1rem;
  margin: 2rem auto;
  /* width: 50rem; */
  max-width: 95%;
  border-radius: 12px;
  /* text-align: center; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid white;
  background-color: #a71300;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  font-weight: bold;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #a71300;
  border-color: #a71300;
}

.new-expense button.alternative {
  color: #a71300;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
